:root {
    padding: 8px;
}

Toggle > .unity-toggle__input {
    justify-content: flex-end;
}

Foldout .unity-toggle__input {
    justify-content: flex-start;
}

Foldout {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

#utilities .utility-button {
    width: 50px;
}

#utilities .package-label {
    flex-grow: 1;
    min-width: 80%;
}

#utilities .package-version {
    flex-shrink: 1;
}