:root {
    padding: 8px;
}

Toggle > .unity-toggle__input {
    justify-content: flex-end;
}

Foldout .unity-toggle__input {
    justify-content: flex-start;
}

Foldout {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}